.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #043873;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 191px;
  height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.notLastTeamMember {
  margin-bottom: 0.5vh;
}
