.footer {
    background-color: #043873;
    color: #ffffff;
    text-align: center;
    position: static;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 85%;
    text-align: left;
    gap: 30px;
  }
  
  .paragraph {
    font-family: quicksand, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }
  
  .teamMembers {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px;
    width: 100%;
  }
  
  .heading {
    font-family: quicksand, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
  
  .notLastTeamMember {
    font-weight: 200;
    font-family: quicksand, sans-serif;
  }
  
  .button {
    width: 150px;
  }
  
  .socialMedia {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  
  .bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      width: 40%;
    }
  
    .paragraph {
      width: 50%;
    }
  
    .footer {
      padding: 20px 60px;
    }
    .teamMembers {
      width: 50%;
    }
  }