.sectionStyle {
display: flex;
flex-direction: row-reverse;
align-items: center;
padding: 0;
isolation: isolate;

position: absolute;
width: 100vw;
height: 829px;
left: 0px;
top: 92px;

background: #043873;
}

@media (max-width: 800px) {
  .sectionStyle {
    flex-direction: column;
  }
}

.waveyLinesStyle {
    position: absolute;
    width: 100vw;
  }

.blurbContainerStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    width: 656px;
    height: 347px;
    flex: none;
    order: 1;
    flex-grow: 1;
    z-index: 1;
    margin-left: 8em;
  }

  .blurbHeaderStyle {
    width: 656px;
    height: 140px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.02em;
    color: #FFFFFF;  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }

    .blurbBodyStyle {
      width: 656px;
      height: 60px;                 
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: -0.02em;
      color: #FFFFFF;     
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }

    .landingPageImageStyle {
      max-width: 45%;
height: 549px;
order: 0;
flex-grow: 0;
border-radius: "15px";
margin-right: 6em;
z-index: 1;
    }
