.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  width: 100vw;
  height: 92px;
  left: 0px;
  top: 0px;

  background: #043873;
}

.logoStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 191px;
  height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.buttonContainerStyle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 368px;
  height: 60px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.loginButtonStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
  width: 124px;
  height: 60px;
  background: #fb8c00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  border: 0;
  letter-spacing: -0.02em;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.4s;
}

.loginButtonStyle:hover{
  background-color: transparent;
  border: 2px solid #fb8c00;
 

}

.tryCodeCircleButtonStyle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  width: 220px;
  height: 60px;
  background: #4f9cf9;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  cursor: pointer;
  transition-duration: 0.4s;
}

.tryCodeCircleButtonStyle:hover{
  background-color: transparent;
  border: #4f9cf9 2px solid;
}

.tryCodeText {
  width: 152px;
  height: 23px;

  /* Text */

  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height, or 128% */

  letter-spacing: -0.02em;

  color: #ffffff;
}
