.container {
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .textarea {
    width: 50%;
    height: 100px;
    margin: 0px auto;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    padding: 20px;
    background: #ffffff;
    margin: 20px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    resize: none;
  }
  
  .button {
    width: 25%;
    height: 50px;
    margin: 0px auto;
    color: white;
    border-radius: 10px;
    padding: 20px;
    background: #4f9cf9;
    margin: 20px 0px;
    cursor: pointer;
    border: none;
  }
  
  .profileContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #eaeaea;
    padding: 30px 20px;
    width: 50%;
  }
  
  .profileImage {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  .usernameContainer {
    display: flex;
    color: slategrey;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .code {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    color: #4f9cf9;
  }