.container {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .post {
    width: 75%;
    margin: 0px auto;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 20px;
    background: #ffffff;
    margin: 20px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .singlePost{
    width: 75%;
    margin: 0px auto;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 20px;
    background: #ffffff;
    margin: 150px 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }