.profileCardContainer {
  border: 2px solid #eaeaea;
  padding: 20px 50px;
  margin: 20px 0px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.authorAndPostTimeContainer {
  display: flex;
  font-size: 0.8em;
  gap: 0.5em;
  justify-content: flex-end;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
}

.description {
  font-size: 1.2em;
  font-weight: 300;
}