.profileCardContainer {
  border: 1px solid black;
  border-radius: 15px;
  height: 4vh;
  width: 80vh;
  padding: 1em;
  margin-bottom: 1em;
}

.authorAndPostTimeContainer {
  display: flex;
  font-size: 0.8em;
  gap: 0.5em;
  justify-content: flex-end;
}
