nav {
  display: 'flex';
  flexdirection: 'row';
  justifycontent: 'space-between';
  alignitems: 'center';
  padding: '16px 220px';

  position: 'absolute';
  width: '1920px';
  height: '92px';
  left: '0px';
  top: '0px';

  background: '#043873';
}
#login-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;

  width: 124px;
  height: 60px;

  background: #fb8c00;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
